/* Table wrapping */
.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal !important;
}

/* admonition colors */

div.admonition-sample-data.admonition {
    padding: 3em;
    color: #FF8E00;
    display:block;
    color: #000000;
    background: #FFC67F;
    margin: 0px;
    padding:6px 12px;
    margin-bottom:12px}

.wy-alert-title,.rst-content .admonition-title {
 color:#fff;
 font-weight:bold;
 display:block;
 color:#fff;
 background:#FF8E00;
 margin:-12px;
 padding:6px 12px;
 margin-bottom:12px
}

/* make iframe for youtube videos responseive*/

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
